* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.125rem;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  color: #4c545d;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [margin-start] minmax(1.11111rem, 10vw) [center-start] ([col-start] minmax(min-content, 1fr) [col-end])[8] [center-end] minmax(1.11111rem, 10vw) [margin-end];
      grid-template-columns: [margin-start] minmax(1.11111rem, 10vw) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(1.11111rem, 10vw) [margin-end];
      grid-template-columns: [margin-start] minmax(1.11111rem, 10vw) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(1.11111rem, 10vw) [margin-end];
  justify-items: center;
}

button {
  outline: none;
  border: 0;
  border-radius: 2.77778rem;
  padding: 0.77778rem 1.94444rem;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

button:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-box-shadow: 0 0.27778rem 0.83333rem rgba(0, 0, 0, 0.315);
          box-shadow: 0 0.27778rem 0.83333rem rgba(0, 0, 0, 0.315);
}

button:active {
  -webkit-transform: translateY(1%);
          transform: translateY(1%);
}

.iosDownload-btn {
  background-color: #26baa4;
  border-bottom: 0.25rem solid #218778;
  margin-right: 0.27778rem;
}

.iosDownload-btn:hover {
  border-bottom: 0.55556rem solid #218778;
}

.iosDownload-btn:active {
  border-bottom: 0.27778rem solid #218778;
}

.macDownload-btn {
  background-color: #6173ff;
  border-bottom: 0.25rem solid #4650aa;
}

.macDownload-btn:hover {
  border-bottom: 0.55556rem solid #4650aa;
}

.macDownload-btn:active {
  border-bottom: 0.27778rem solid #4650aa;
}

a {
  text-decoration: none;
  color: #4c545d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: center-start / center-end;
  max-width: 31.66667rem;
  margin-bottom: 10vh;
}

.header__logo {
  width: 5.55556rem;
  height: 5.55556rem;
}

.header__tp-headline > h1 {
  margin-top: 2.5rem;
  margin-bottom: 0.83333rem;
}

.header__tp-headline > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
  font-size: 0.92222rem;
  margin-bottom: 2.22222rem;
}

.header__bt-headline > h2 {
  margin-top: 5.55556rem;
  margin-bottom: 0.83333rem;
}

.header__bt-headline > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature1-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-columns: min-content minmax(min-content, 21.11111rem);
      grid-template-columns: -webkit-min-content minmax(-webkit-min-content, 21.11111rem);
      grid-template-columns: min-content minmax(min-content, 21.11111rem);
  grid-column-gap: 5vw;
  grid-column: margin-start/ center-end;
  text-align: left;
}

.feature1-content__feature--1 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.feature1-content__feature--2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feature1-content__feature--3 {
  margin-bottom: 1.94444rem;
}

.feature1-content > *:not(img) {
  line-height: 2.1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.feature1-content > *:not(img) > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature1-content__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  width: 51vw;
  -webkit-transform: translateX(-4%);
          transform: translateX(-4%);
}

.feature2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  grid-column: center-start / center-end;
  margin-top: 13vh;
  margin-bottom: 8vh;
}

.feature2-content__headline {
  max-width: 36.11111rem;
  margin-bottom: 8vh;
  line-height: 2.1;
}

.feature2-content__headline > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature2-content__img {
  width: 100%;
}

.feature3-content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(min-content, 8.33333rem))[6];
      grid-template-columns: repeat(6, minmax(-webkit-min-content, 8.33333rem));
      grid-template-columns: repeat(6, minmax(min-content, 8.33333rem));
  grid-gap: 5vh;
  grid-column: center-start / center-end;
  /* Blacklist, Text snippets, Sneak preview boxes, :not() working but it overides
    img selector*/
}

.feature3-content__headline {
  grid-column: 1 / -1;
  line-height: 2.1;
}

.feature3-content__headline > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature3-content > *:not(:first-child),
.feature3-content > *:not(img) {
  line-height: 2.2;
  margin-bottom: 10vh;
}

.feature3-content > *:not(:first-child) > p,
.feature3-content > *:not(img) > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature3-content__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.feature3-content__item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.feature3-content__item--3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

.feature3-content__ibm-logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.feature3-content__microsoft-logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.feature3-content__hp-logo {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.feature3-content__vector-logo {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

.feature4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  grid-column: center-start / center-end;
  max-width: 38.88889rem;
  margin: 13vh 0;
}

.feature4-content__headline {
  line-height: 2.2;
}

.feature4-content__headline > p {
  font-size: 0.83333rem;
  line-height: 1.7;
  color: #9fabb2;
}

.feature4-content__btns {
  margin-top: 5vh;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 155%;
  grid-column: margin-start / margin-end;
  line-height: 2;
  text-align: left;
  background-color: #ebebeb;
}

.info__logo {
  width: 3.05556rem;
}

.info__icons > :nth-child(2) {
  margin: 0 1vw;
}

.info > :nth-child(3) {
  margin: 0 5vw;
}

.attribution {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 0.61111rem;
}

.attribution > a {
  color: #3e52a3;
}

@media screen and (max-width: 63.5em) {
  html {
    font-size: 0.9375rem;
  }
  .header {
    margin-bottom: 5vh;
  }
  .feature1-content {
    justify-items: center;
    grid-column: center-start / center-end;
    grid-row-gap: 1.66667rem;
  }
  .feature1-content__img {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 80vw;
    margin-bottom: 5vh;
    grid-column: 1 / -1;
  }
  .feature1-content > *:not(img) {
    max-width: 16.66667rem;
    grid-column: 1 / -1;
    text-align: center;
  }
  .feature2-content__headline {
    max-width: 19.44444rem;
    line-height: 1.66667rem;
    margin-bottom: 5vh;
  }
  .feature2-content__headline > h2 {
    margin-bottom: 0.83333rem;
  }
  .feature3-content__headline {
    max-width: 13.88889rem;
  }
  .feature3-content__headline > h2 {
    line-height: 1.66667rem;
    margin-bottom: 0.83333rem;
  }
  .feature3-content > *:not(:first-child),
  .feature3-content > *:not(img) {
    grid-column: 1 / -1;
    margin-bottom: 0vh;
  }
  .feature3-content > :nth-child(4) {
    margin-bottom: 10vh;
  }
  .feature3-content > img {
    grid-column: 1 / -1;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .macDownload-btn {
    margin-top: 0.55556rem;
  }
  button {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */