.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-column: center-start / center-end;
    max-width: rem(570);
    margin-bottom: 10vh;

    &__logo {
        width: rem(100);
        height: rem(100); 
    }

    // Top headline
    &__tp-headline {
        // Main headline goes here
        > h1 {
           margin: {
                top: rem(45); // 50px
                bottom: rem(15); // 15px
            };
        }

        // Sub-headline goes here
        > p {
            @include sub-headline;
            font-size: rem(16.6); // 16.6px
            margin-bottom: rem(40); // 10px
        }
    }

    // Bottom headline
    &__bt-headline {
        // Main headline goes here
        > h2 {
            margin: {
                top: rem(100);
                bottom: rem(15);
            }
        }
        // Sub headline goes here
        > p {
            @include sub-headline
        }
    }
}