$Strong-Cyan: hsl(171, 66%, 44%);
$Dark-Strong-Cyan: hsl(171, 61%, 33%);

$Light-Blue: hsl(233, 100%, 69%);
$Dark-Blue: hsl(234, 42%, 47%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);